body{
    background-color: black;
    padding: 0%;
    margin: 0%;
    color: white;
}
.heading{
    color: white;
    margin-left: 20px;
}
.emoji{
    height: 100px;
    width: 100px;
    background-size: cover;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(156, 140, 140, 0.258);
}
.btn{
    border: none;
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
    margin-left: 10px;
    height: 130px;
    width: 130px;
}
.scores{
    font-size: 20px;
    margin:20px 0px 0px 15px;
    display: flex;
    align-items: center;
}
.reset{
    height: 25px;
    width: 100px;
    margin-left: 15px;
}
.result{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
}
.emoji-1{
    height: 70px;
    width: 70px;
    margin:15px 10px 0px 15px;
    background-color: black;
    background-size: cover;
    border: 2px solid yellowgreen;
}
.turns{
    margin:10px 0px 15px 15px;      /* top right bottom left */
}